h5py
matplotlib
numpy
scikit-learn
scikit-optimize
torch
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
#jupyter contrib nbextension install --user
#jupyter nbextensions_configurator enable --user
