h5py
matplotlib
numpy
scikit-learn
scikit-optimize
torch
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
#jupyter contrib nbextension install --user
#jupyter nbextensions_configurator enable --user

# Reinforcement learning part
git+https://github.com/desy-ml/cheetah.git@v0.5.13
# ffmpeg
gym[box2d]==0.21
IPython
ipywidgets
Jupyter
# numba
# numexpr
opencv-python
pandas
# pyfftw
stable-baselines3
swig
